node_modules/
.vscode/
.cache/
.prettierrc
src/
demo/
test/
coverage/
junit.xml

.rts2*

karma.conf.js
jest.config.js
tsconfig.json
tslint.json
Jenkinsfile

dist/demo
dist/test
dist/index.html
dist/demo*
